* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

h2.h2 {
    padding: 10px;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

/* header */
header {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2023/02/27/14/35/flowers-7818586_1280.jpg');
    background-repeat: no-repeat;
    background-position: 89% 10%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header a, section.faq a {
    background-color: #9C0E37;
    border: 1px solid #9C0E37;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

header a:hover, section.faq a:hover {
    background-color: #fff;
    border: 1px solid #9C0E37;
    color: #9C0E37;
    transition: 0.3s;
}

/* sekcja miejsc do odwiedzenia */
section.places_to_see {
    padding: 10px;
}

div.single_place {
    margin-bottom: 20px;
}

div.single_place p {
    text-align: center;
    padding: 10px;
    line-height: 1.2;
}

div.single_place img {
    display: inline-block;
    width: 100%;
}

div.single_place a {
    background-color: #9C0E37;
    border: 1px solid #9C0E37;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

div.single_place a:hover {
    background-color: #fff;
    border: 1px solid #9C0E37;
    color: #9C0E37;
    transition: 0.3s;
}

/* sekcja newslettera */
section.newsetter {
    background-color: #FFEEF3;
    padding: 20px;
}

section.newsetter h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.newsetter p {
    padding: 10px 0px;
}

section.newsetter form button {
    background-color: #9C0E37;
    border: 1px solid #9C0E37;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

section.newsetter form button:hover {
    background-color: #fff;
    border: 1px solid #9C0E37;
    color: #9C0E37;
    transition: 0.3s;
}

section.newsetter form .form_input_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.newsetter form .form_input_box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    border: none;
}

/* sekcja kontaktu */
section.contact {
    padding: 10px;
}

.single_contact {
    margin-bottom: 20px;
}

.single_contact:last-child {
    margin-bottom: 0px;
}

section.contact i {
    font-size: 50px;
    color: #9C0E37;
    border: 5px solid #9C0E37;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 2px;
}

/* sekcja komentarzy */
section.comments {
    background-image: url('https://cdn.pixabay.com/photo/2023/02/27/14/35/flowers-7818586_1280.jpg');
    background-repeat: no-repeat;
    background-position: 89% 10%;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

section.comments .single_comment {
    background-color: #ffffffd8;
    padding: 20px;
    margin-bottom: 20px;
}

section.comments .single_comment p:first-child {
    line-height: 1.3;
    text-align: center;
}

section.comments .single_comment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

/* sekcja mapy */
section.map {
    padding: 10px;
}

section.map iframe {
    width: 100%;
}

/* footer */
footer {
    padding: 20px;
    background-color: black;
    color: white;
}

footer .social_media {
    margin-bottom: 20px;
}

footer .author {
    padding-top: 20px;
    border-top: 1px solid white;
    text-align: center;
}